Binaries
Build
DerivedDataCache
Intermediate
Plugins
Saved
.vscode
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.code-workspace
# Qt Creator items on Linux
Makefile
.kdev4
*.pri
*.pro
*.pro.user
*.workspace
*.kdev4
*.txt
